/* You can add global styles to this file, and also import other style files */
form {
    max-width: 500px;
    margin: 0 auto 0 0; /* Desplaza el formulario a la izquierda */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h4 {
    color: #007bff;
    text-align: right; /* Alinea el texto a la derecha */
}

form .form-control {
    border-radius: 5px;
}

form .btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.custom-bg {
    background-color: #3377bb; /* Color de fondo personalizado */
    color: white; /* Color de texto blanco para mejor contraste */
}
.alternate-bg {
    background-color: #f7f6e3; /* Color de fondo alternativo */
}